<body>

    <div id="titleMain">
        <h1>Aggretsukos Karaoke</h1>
    </div>

    <section id="confirm">
        <h1>Are you over 21?</h1>
        <button id="yes">Yes</button>
        <button id="no">No</button>
    </section>

</body>

</html>