<p id="backgroundImg"></p>

<div id="titleMain">
    <h1>Aggretsukos Karaoke</h1>
</div>

<section id="confirm">
    <h1>Are you over 21?</h1>
    <a href="/home"><button id="yes">Yes</button></a>
    <a href="https://neopets.com/"><button id="no">No</button></a>
</section>