<p id="backgroundImg"></p>

<footer id="footer">

    <div id="hours">
        <h3>Operating Hours</h3>
        <br>
        <p>Fri: 12pm-3am</p>
        <p>Sat: 12pm-3am</p>
        <p>Sun: 12pm-3am</p>
    </div>

    <div id="address">
        <h3>5901 Westheimer Rd - Houston, TX - 77057</h3>
    </div>

    <div id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3464.4036061037878!2d-95.4875498849513!3d29.73703028199521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c3dbafdfb84d%3A0x42771401c095a709!2sSpotlight%20Karaoke!5e0!3m2!1sen!2sus!4v1623564944197!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

</footer>