<nav>
    <ul class="menu">
        <li class="logo"><a href="/">Aggretsukos Karaoke</a></li>
        <li class="item"><a href="/">Home</a></li>
        <li class="item"><a href="/aboutUs">About Us</a></li>
        <li class="item"><a href="/songs">Songs</a></li>
        <li class="item"><a href="/menu">Menu</a></li>
        {{#if logged_in}}
        <li class="item button"><a href="/profile">Profile</a></li>
        {{else}}
        <li class="item button"><a href="/login">Login</a></li>
        <li class="item button secondary"><a href="/register">Register</a></li>
        {{/if}}
        <li class="toggle"><span class="bars"></span></li>
    </ul>
</nav>
<div class="" id="">
    

</div>