<!-- log in and sign up option -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/style.css">
    <title></title>
</head>
<body>
    <!--Container for form -->
    <div class="container">
        <section id="content">
          <form action="">
            <h1>Login Form</h1>
            <div>
              <input type="text" placeholder="Username" required="" id="username" />
            </div>
            <div>
              <input type="password" placeholder="Password" required="" id="password" />
            </div>
            <div>
              <input type="submit" value="Log in" />
              <!-- <a href="#">Lost your password?</a> -->
              <a href="#">Register</a>
            </div>
          </form>
        </section>
    </div>
</body>
</html>