<div class="row">
  <div class="col-auto">
    <h2>Hello, {{username}}!</h2>
  </div>
</div>

<div>
  <div class="screen">
		<div class="screen__userdp"></div>
		<div class="screen__username">
			<h3>{{name}}</h3>
		</div>
		<div class="screen__usertag">
			<p>By Framer</p>
		</div>
		<div class="screen__cta">
			<div class="screen__cta__btn">
				Play
			</div>
			<div class="screen__cta__btn">
				Shuffle
			</div>
		</div>
		<div class="screen__hr"></div>
		<div class="screen__list">
			<ul>

				<li>
					<div class="screen__list__img"><img src="https://source.unsplash.com/TW_z_iUD_bQ/120x120"></div>
					<div class="screen__list__details">
						<h4>Weight of Love</h4>
						<h5>Sonya Gibbs</h5>
					</div>
				</li>

                <li>
					<div class="screen__list__img"><img src="https://source.unsplash.com/Pc0ToyoR5Xo/120x120"></div>
					<div class="screen__list__details">
						<h4>Rainbows</h4>
						<h5>Sam Foster</h5>
					</div>
				</li>

                <li>
					<div class="screen__list__img"><img src="https://source.unsplash.com/xFTQPsh_ZKg/120x120"></div>
					<div class="screen__list__details">
						<h4>Great Day</h4>
						<h5>Daniel</h5>
					</div>
				</li>

                <li>
					<div class="screen__list__img"><img src="https://source.unsplash.com/0mKIh0uNcc4/120x120"></div>
					<div class="screen__list__details">
						<h4>Waiting on Words</h4>
						<h5>Nina Roberts</h5>
					</div>
				</li>
                
                <li>
					<div class="screen__list__img"><img src="https://source.unsplash.com/FzavNq-l3t0/120x120"></div>
					<div class="screen__list__details">
						<h4>Strange Ways</h4>
						<h5>Rosa</h5>
					</div>
				</li>

                <li>
					<div class="screen__list__img"><img src="https://source.unsplash.com/MVOI2b2nDTE/120x120"></div>
					<div class="screen__list__details">
						<h4>Great Things</h4>
						<h5>Huellers</h5>
					</div>
				</li>

                <li>
					<div class="screen__list__img"><img src="https://source.unsplash.com/922e8njIWRY/120x120"></div>
					<div class="screen__list__details">
						<h4>Big Deal</h4>
						<h5>Qasim</h5>
					</div>
				</li>

			</ul>
		</div>
	</div>

</div>
