<div>
  <h1 class="text-center text-light display-4">View The Queue To Sing:</h1>
</div>


<table class=" mt-5 table table-striped bg-light border-dark rounded">
    <thead>
      <tr>
        <th scope="col" id="numberId">#</th>
        <th scope="col" id="userNameId">Name</th>
        <th scope="col" id="SongId">Song Name</th>
        <th scope="col">Singing In...</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {{!-- {{#each queue}} --}}
        <th scope="row">1</th>
        <td>{{John}}</td>
        <td>{{Africa}}</td>
        <td>5 min</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>{{James}}</td>
        <td>{{Yonaguni}}</td>
        <td>10 min</td>
      </tr>
    </tbody>
</table>