{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body> --}}
<div>
        <h1 class="text-center text-light display-4">View The Queue To Sing:</h1>
    </div>

    <table class=" mt-5 table table-striped bg-light border-dark rounded">
        <thead>
          <tr>
            <th scope="col" id="numberId">#</th>
            <th scope="col" id="userNameId">Name</th>
            <th scope="col" id="SongId">Song Name</th>
            <th scope="col">Singing In...</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{John}}</td>
            <td>{{Africa}}</td>
            <td>5 min</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>{{James}}</td>
            <td>{{Yonaguni}}</td>
            <td>10 min</td>
          </tr>
        </tbody>
    </table>
{{!-- </body>
</html> --}}