<div class="user">
    <header class="user__header">
        <h1 class="user__title">Aggretsukos Karaoke Registration Form</h1>
    </header>

    <form class="form signup-form">
        <div class="form-group">
            <input type="text" placeholder="Username" id="name-signup" class="form__input" />
        </div>
        
        <div class="form-group">
            <input type="email" placeholder="Email" id="email-signup" class="form__input" />
        </div>
        
        <div class="form-group">
            <input type="password" placeholder="Password" id="password-signup" class="form__input" />
        </div>
        
        <div class="form-group">
            <input type="number" placeholder="Age" id="age-signup" class="form__input" />
        </div>

        <button class="btn" type="submit">Register</button>
    </form>
</div>
<script src="./js/newuser.js"></script>