<h2>Song Search</h2>

<section id="songListButtons">
      <form id="requestForm">
        {{#each songs}}
          <tr>
            <td>{{song_name}}</td>
            <td>{{artist}}</td>
            <td>
              <label>
                  <input type="radio" name="songIds" value="{{id}}" class="with-gap"/>
                  <span></span>
              </label>
            </td>
          </tr>
        {{/each}}
        <div class="d-flex justify-content-center">
          <button class="btn btn-dark text-center" type="submit">Request Song</button>
        </div>
      </form>
  </table>  
</section>

<script src="./js/requests.js"></script>