*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #2356a1 10%, #5f89ac 90%);
    height: 100vh;
}
/* =========For Navbar========== */
nav{
    background: #332e2e;
    padding: 5px 20px;
}
ul{
    list-style-type: none;
}
a {
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.menu li{
    font-size: 16px;
    padding: 15px 5px;
}
.menu li a{
    display: block;
}
.logo a{
    font-size: 20px;
}
.button.secondary{
    border-bottom: 1px #444444 solid;
}

/* ===menu for mobile ===*/
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.toggle{
    order: 1;
}
.item.button{
    order: 2;
}
.item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.item.active{
    display: block;
}

.toggle{
    cursor: pointer;
}
.bars{
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}
.bars::before,.bars::after{
    background: #999999;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    width: 18px;
}
.bars::before{
    top: 5px;
}
.bars::after{
    top: -5px;
}

/* ===menu for tablet ===*/
@media all and (min-width: 468px){
    .menu{
        justify-content: center;
    }
    .logo{
        flex: 1;
    }
    .item.button{
        width: auto;
        order: 1;
        display: block;
    }

    .toggle{
        order: 2;
    }
    .button.secondary{
        border: 0;
    }
    .button a {
        text-decoration: none;
        padding: 7px 15px;
        background: rgb(42, 162, 167);
        border: 1px solid #006d6d;
        border-radius: 50em;
    }
    .button.secondary a{
        background: transparent;
    }
    .button a:hover{
        transition: all .25s;
    }
    .button:not(.secondary) a:hover{
        background: #248181;
        border-color: #015252;
    }
    .button.secondary a:hover{
        color: rgb(175, 166, 166);
    }   
}
@media all and (min-width: 768px){
    .item{
        display: block;
        width: auto;
    }
    .toggle{
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }

    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
}
/* ==============================*/